<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" value="text/html; charset=UTF-8">

        {% if self_contained %}
        <style>{{ rendered_css }}</style>
        {% else %}
        <link rel="stylesheet" href="styles.css">
        {% endif %}

        {% block script %}
        {% endblock %}

    {% endblock %}
    </head>
    <body>
        <div id="masthead" class="sev-{{ highest_sev }}" data-sev="{{ highest_sev }}"></div>
        {% block content %}
        {% endblock %}
    </body>
</html>
